
/* table */
table {
    width: 600px ;
    margin: 150px auto;
    text-align: center;
}

table thead th {
  background-color: #000;
  color: white;
  padding: 10px;
}

 table tbody tr td {
    background-color: #eee;
    padding: 10px 15px;
} 
/* table */

@media(max-width: 768px) {
    table {
        width: 400px ;
        margin: 150px auto;
        text-align: center;
    }
    .logo {
        max-width: 80px;
    }
}